/*-----------------------------------------
Custom Properties
*/

:root {
    --gold-crayola: hsl(38, 61%, 73%);
    --quick-silver: hsla(0, 0%, 65%, 1);
    --davys-grey: hsla(30, 3%, 34%, 1);
    --smoky-black-1: hsla(40, 12%, 5%, 1);
    --smoky-black-2: hsla(30, 8%, 5%, 1);
    --smoky-black-3: hsla(0, 3%, 7%, 1);
    --eerie-black-1: hsla(210, 4%, 9%, 1);
    --eerie-black-2: hsla(210, 4%, 11%, 1);
    --eerie-black-3: hsla(180, 2%, 8%, 1);
    --eerie-black-4: hsla(0, 0%, 13%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white-alpha-20: hsla(0, 0%, 100%, 0.2);
    --white-alpha-10: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 1);
    --black-alpha-80: hsla(0, 0%, 0%, 0.8);
    --black-alpha-15: hsla(0, 0%, 0%, 0.15);


    /* ----------------------------------------
Gradient
*/
    --loading-text-gradient: linear-gradient(90deg,
            transparent 0% 16.66%,
            var(--smoky-black-3) 33.33% 50%,
            transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top,
            hsla(0, 0%, 0%, 0.9),
            hsla(0, 0%, 0%, 0.7),
            transparent);

    /*--------------------------------------------
Font Fam 
*/

    --fontFamily-forum: "Forum", cursive;
    --fontFamily-dm_sans: "DM Sans", sans-serif;

    /*----------------------------------------------
Font Sizinf 
*/

    --fontSize-display-1: calc(1.3rem + 6.7vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 2.4vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;

    /*
Font Weight 
*/

    --weight-regular: 400;
    --weight-bold: 700;

    /*
Line height 
*/

    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

    /* Letter SPacing */

    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;

    /* Spacing */

    --section-space: 70px;

    /* Shadow */

    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /* Border Radius */

    --radius-24: 24px;
    --radius-circle: 50%;

    /* Transition */

    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;

}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--eerie-black-1);
    color: var(--white);
    font-family: var(--fontFamily-dm_sans);
    font-size: var(--fontSize-body-4);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-5);
    overflow: overlay;
    height: 300vh;
}

body.loaded {
    overflow: overlay;
}

body.nav-active {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gold-crayola);
}


/*-----------------------------------------
Symbol  Properties
-----------------------------------------*/

.container {
    padding-inline: 16px;
}

.seperate {
    width: 8px;
    height: 8px;
    border: 1px solid var(--gold-crayola);
    transform: rotate(45deg);
}


/*-------------------------------------------------------------------
 Preloader page 
 -------------------------------------------------------------------*/

.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gold-crayola);
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: var(--transition-2);
}

.preload.loaded>* {
    transition: var(--transition-1);
}

.preload.loaded>* {
    opacity: 0;
}

.preload.loaded {
    transition-delay: 250ms;
    transform: translate(100%);
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: var(--radius-circle);
    border: 4px solid var(--white);
    border-block-start-color: var(--smoky-black-3);
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
}


@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.preload.text {
    background-image: var(--loading-text-gradient);
    background-size: 500%;
    font-size: calc(2rem+3vw);
    font-weight: var(--weight-bold);
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding-inline-start: 16px;
    -webkit-text-fill-color: Transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: .5px var(--eerie-black-3);
    animation: loadingText Linear 2s infinite;
}

@keyframes loadingText {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}


/*---------------------------------------------
Header
---------------------------------------------*/
.navbar,
.overlay,
.header.btn {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding-block: 40px;
    z-index: 4;
    border-block-end: 1px solid transparent;
    transition: var(--transition-1);
}

.header.active {
    padding-block: 20px;
    background-color: var(--eerie-black-4);
    border-color: var(--black-alpha-15);
}

.header.hide {
    transform: translateY(-100%);
    transition-delay: 250ms;
}

.header.container {
    padding-inline: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.nav-open-btn {
    padding: 12px;
    padding-inline-end: 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.nav-open-btn .line {
    width: 30px;
    height: 2px;
    background-color: var(--white);
    margin-block: 4px;
    transform-origin: left;
    animation: menuBtn 400ms ease-in-out alternate infinite;
}

@keyframes menuBtn {
    0% { transform: scaleX(1); }
    100% { transform: scaleX(0.5); }
}


.nav-open-btn .line-2 {
    animation-delay: 150ms;
}

.nav-open-btn .line-2 {
    animation-delay: 300ms;
}